<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <button type="button" class="btn btn-primary">Login</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <h6 class="col-sm-4">New student register here:</h6>
        <p><a href="#" class="link-primary link-offset-2 link-underline-opacity-26 link-underline-opacity-100-hover">Form</a></p>
      </div>
    </div>
  </div>
</div>